body{
    margin: 0;
}
/*header*/
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(74, 161, 243);
    font-size: 1.2em;
}
nav{
    background-color: red;
}
.logo{
    float: left;

}
.logo a h1{
    display: inline;
}

.lien{
    float: right;

    display: flex;
}
.lien li{
    margin: 0 15px;
}
main{
    clear: both;
    color: rgb(68, 66, 66);
}
/*header*/
.blue{
    box-sizing: border-box;
    height: 160px;
    background-color: rgb(74, 161, 243);
    padding-top:40px;
    margin-bottom: 25px;
   
    
}
h1{
    text-align: center;
    color: #fff;
}
form{
    text-align: center;
    margin-bottom: 10px;
}
label{
    display: block;
    text-align: center;
    color: rgb(74, 161, 243);
    margin-bottom: 15px;
    font-size: 1.6em;
}
button{
    margin-left:5px ;
    background-color: rgb(51, 122, 183);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
}
input{
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    font-size: 1.2em;
}
h2{
    text-align: center;
}

td{
    
    text-align: center;
    padding: 20px 0;
    border: 1px solid rgba(124, 115, 115,0.3);
}
#image{
    display: block;
    text-align: center;
    padding:2.6px;

    border: 1px solid rgba(124, 115, 115,0.3); 
}


th{
    background-color: rgb(74, 161, 243);
    color: white;
    border: 1px solid rgba(124, 115, 115,0.3);
    padding: 16px 10px;
    height: 70px;
    box-sizing: border-box;
}
.resultat{
    display: none;
}
table{
   border-collapse: collapse;
   margin: auto;
   
}
footer{
    background-color: rgb(74, 161, 243);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top:50px ;
  
   
}