body{
    margin: 0;
    overflow-x: hidden;
}
/*header*/
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(74, 161, 243);
    font-size: 1.2em;
}
nav{
    background-color: red;
}
.logo{
    float: left;

}
.logo{
    text-align: center;

}
.logo a h1{
    display: inline;
}

.lien{
    float: right;

    display: flex;
}
.lien li{
    margin: 0 15px;
}
main{
    clear: both;
    color: rgb(68, 66, 66);
}
/*header*/
.blue{
    box-sizing: border-box;
    height: 160px;
    background-color: rgb(74, 161, 243);
    padding-top:40px;
    margin-bottom: 25px;
   
    
}
.contents{
   display: flex;
  justify-content: center;
}
h1{
    text-align: center;
    color: #fff;
}
form{
    text-align: center;
    margin-bottom: 10px;
}
label{
    display: block;
    text-align: center;
    color: rgb(74, 161, 243);
    margin-bottom: 15px;
    font-size: 1.4em;
}
button{
    margin-left:5px ;
    background-color: rgb(51, 122, 183);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
input{
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}
.resultat{
    background-color: rgb(74, 161, 243);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
 
    border-radius: 8px;
    padding:5px 0;
    padding-left: 10px;
    display: none;
}
.resultat div {
display: flex;  
height: 50px;
width: 80%;  
}
.image{
    margin: 0;
    height: 50px;
}
/* 
#description{
    line-height: 65px;

  
} */
footer{
    background-color: rgb(74, 161, 243);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top:100px ;
   
}
#weather,#description,#speed,#deg,#temperature,#pressure,#humidity,#maxtemp,#mintemp{
    font-weight: normal;
}