body{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(74, 161, 243);
    font-size: 1.2em;
}
nav{
    background-color: red;
}
.logo{
    float: left;

}
.logo a h1{
    display: inline;
}

.lien{
    float: right;

    display: flex;
}
.lien li{
    margin: 0 15px;
}
main{
    color: rgb(68, 66, 66);
}
.background{
   color: white;
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("/img/bg.jpg");
background-position:center;
background-size: cover;
height: auto;
width: auto;
}
.welcome{
    text-align: center;
    padding: 20px;
}
.welcome h1{
    color: rgb(74, 161, 243);
}
.content{
    display: flex;
    justify-content: center;
}
.content .bloc{
    width: 30%;
    border: 1px solid rgb(158, 154, 154);
    text-align: center;
    color: rgb(68, 66, 66);
}
.content .bloc i{
    color: rgb(74, 161, 243);
    font-size: 2em;
}
.content .bloc p{
    font-size: 1.2em;
    color: rgb(68, 66, 66);
}
footer{
    background-color: rgb(74, 161, 243);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top:100px ;
}